<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>变形搜索输入</title>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
    <div class="container">
        <aside class="sidebar clearfix">
            <nav>
                <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                <a href="#"><i class="fa fa-fw fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-fw fa-send-o"></i></a>
                <a href="#"><i class="fa fa-fw fa-smile-o"></i></a>
            </nav>
        </aside>
        <div id="morphsearch" class="morphsearch">
            <form class="morphsearch-form">
                <input class="morphsearch-input" type="search" placeholder="Search..." id="searchtext" />
                <button class="morphsearch-submit" type="button" id="btn">Search</button>
            </form>
            <div class="morphsearch-content" id="content">
                <!-- <div class="dummy-column">
                <h2>People</h2>
                <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                    <img src="img/thumbs/ResponsiveSVGs.png" alt="ResponsiveSVGs"/>
                    <h3>Sara Soueidan</h3>
                </a>
                <h2>People</h2>
                <a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
                    <img src="img/thumbs/FreebieHalcyonDays.png" alt="FreebieHalcyonDays"/>
                    <h3>Rachel Smith</h3>
                </a>
                <a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
                    <img src="img/thumbs/OffCanvas.png" alt="OffCanvas"/>
                    <h3>Peter Finlan</h3>
                </a>
                <a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
                    <img src="img/thumbs/HoverEffectsIdeasNew.png" alt="HoverEffectsIdeasNew"/>
                    <h3>Patrick Cox</h3>
                </a>
                <a class="dummy-media-object" href="https://twitter.com/twholman">
                    <img src="img/thumbs/DraggableDualViewSlideshow.png" alt="DraggableDualViewSlideshow"/>
                    <h3>Tim Holman</h3>
                </a>
                <a class="dummy-media-object" href="https://twitter.com/shaund0na">
                    <img src="img/thumbs/PagePreloadingEffect.png" alt="PagePreloadingEffect"/>
                    <h3>Shaun Dona</h3>
                </a>
            </div> -->
            </div>
            <!-- /morphsearch-content -->
            <span class="morphsearch-close"></span>
        </div>
        <!-- /morphsearch -->
        <div class="overlay"></div>
    </div>
    <!-- /container -->
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript">
    (function() {
        var morphSearch = document.getElementById('morphsearch'),
            input = morphSearch.querySelector('input.morphsearch-input'),
            ctrlClose = morphSearch.querySelector('span.morphsearch-close'),
            isOpen = isAnimating = false,
            // show/hide search area
            toggleSearch = function(evt) {
                // return if open and the input gets focused
                if (evt.type.toLowerCase() === 'focus' && isOpen) return false;

                var offsets = morphsearch.getBoundingClientRect();
                if (isOpen) {
                    classie.remove(morphSearch, 'open');

                    // trick to hide input text once the search overlay closes 
                    // todo: hardcoded times, should be done after transition ends
                    if (input.value !== '') {
                        setTimeout(function() {
                            classie.add(morphSearch, 'hideInput');
                            setTimeout(function() {
                                classie.remove(morphSearch, 'hideInput');
                                input.value = '';
                            }, 300);
                        }, 500);
                    }

                    input.blur();
                } else {
                    classie.add(morphSearch, 'open');
                }
                isOpen = !isOpen;
            };

        // events
        input.addEventListener('focus', toggleSearch);
        ctrlClose.addEventListener('click', toggleSearch);
        // esc key closes search overlay
        // keyboard navigation events
        document.addEventListener('keydown', function(ev) {
            var keyCode = ev.keyCode || ev.which;
            if (keyCode === 27 && isOpen) {
                toggleSearch(ev);
            }
        });


        /***** for demo purposes only: don't allow to submit the form *****/
        morphSearch.querySelector('button[type="submit"]').addEventListener('click', function(ev) {
            ev.preventDefault();
        });
    })();
    var EventUtil = {
        addHandler: function(element, type, handler) {
            if (element.addEventListener) {
                element.addEventListener(type, handler, false);
            } else if (element.attachEvent) {
                element.attachEvent("on" + type, handler);
            } else {
                element["on" + type] = handler;
            }
        }
    };
    $(document).ready(function() {
        var btn = document.getElementById("btn");
        EventUtil.addHandler(btn, "click", function() {
            var query = $('#searchtext').val();
            $.ajax({
                url: '/test',
                dataType: 'JSON',
                type: 'GET',
                data: {
                    query: query,
                },
                success: function(data) {
                    for (var i = 0; i < 10; i++) {
                        var item = '';
                        item += '<h2>';
                        item += data.data[i].title;
                        item += '<h2><a class="dummy-media-object" href="';
                        item += data.data[i].url;
                        item += '"><h3>';
                        item += data.data[i].content;
                        item += '</h3></a>';
                        $("#content").append(item);
                    }
                    var con = document.getElementById("content").getElementByTagName("h3");
                    for (i = 0; i < con.length; i++) {
                        if (con[i].innerHTML.length > 30) {
                            var conh = con[i].innerHTML.conice(0, 30) + '...';
                            con[i].innerHTML = conh;
                        }
                    }
                }
            });
        });
    });
    </script>
</body>

</html>
