<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>NJU-Search</title>
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
    <!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
    <div class="container">
        <aside class="sidebar clearfix">
            <nav>
                <a href="#"><i class="fa fa-fw fa-comments-o"></i></a>
                <a href="#"><i class="fa fa-fw fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-fw fa-send-o"></i></a>
                <a href="#"><i class="fa fa-fw fa-smile-o"></i></a>
            </nav>
        </aside>
        <div id="morphsearch" class="morphsearch">
            <form class="morphsearch-form">
                <input class="morphsearch-input" type="search" value="Search..." placeholder="" id="searchtext" />
                <button class="morphsearch-submit" type="button" id="btn">Search</button>
            </form>
        </div>
        <div id="searchResult" class="searchResult">
            <div class="morphsearch-content">
                <div class="dummy-column" id="content">
                    <!-- <h2>南京大学学生证</h2><a class="dummy-media-object" target="_blank" href="www.baidu.com"><h3>发呢啊是否还可撒谎呢交罚款飞洒发噶事减肥撒块金凤花开色啊法克啊</h3></a>
                   -->
                </div>
                <div class="black-red" id="page_nav">
                    <a id="prev" href="" pn="1" cn="">&lt;</a>
                    <a id="curpage">1</a>
                    <a id="next" href="" pn="2" cn="">&gt;</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/js/ajax.js"></script>
</body>

</html>
